<?xml version="1.0" encoding="utf-8"?>
<!-- 有关使用 web.config 转换的详细信息，请访问 http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="Sys" providerName="System.Data.SqlClient" connectionString="server=.;uid=sa;pwd=localhost;database=HSTFarm.Sys" />
    <add name="Mms" providerName="System.Data.SqlClient" connectionString="server=.;uid=sa;pwd=localhost;database=Zephyr.Mms" />
    <add name="SysMySql" connectionString="Data Source=localhost;Port=3306;Initial Catalog=Z.Sys;Persist Security Info=True;User ID=root;Password=root" providerName="MySql.Data.MySqlClient" />
    <add name="MmsMySql" connectionString="Data Source=localhost;Port=3306;Initial Catalog=Z.Mms;Persist Security Info=True;User ID=root;Password=root" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>